@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --BM-primary: #23b8c0;    
    --BM-secondary: #6dba44;
    --BM-tertiary: #fdd118;
    --BM-font: #414141;
    --BM-black: #000000;    
    --BM-white: #ffffff;
    --BM-line: #e5e7eb;
    --BM-background: #f9fafb;
  }
}